@import 'colors';
body{
    font-family: "Barlow", "Fraunces", sans-serif;
}
.font-barlow{
    font-family: "Barlow", sans-serif;
}
.font-fraunces{
    font-family: "Fraunces", sans-serif;
}
.header{
    background-image: url('../images/mobile/image-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo{
        max-height: 40px;
    }
    &__nav{
        display: flex;
        padding: 3em 2em;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
    }
    &__mobileMenu{
        position: absolute;
        opacity: 0;
        top: 80px;
        right: 5%;
        display: none;
        flex-direction: column;
        align-items: end;
        transition: opacity 2s ease-out;
        &--active{
            display: flex;
            animation: slideDown 0.3s ease-out forwards;
        }
    }
    &__mobileMenuClipPath{
        display: block;
        clip-path: polygon(0 100%, 100% 0, 100% 100%);
        width: 20px;
        height: 20px;
        background-color: white;
    }
    &__mobileMenuList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5em;
        width: 300px;
        height: 250px;
        list-style: none;
        background-color: white;
    }
    &__mobileMenuItem{
        padding: 1em 2em;
        font-size: 1.3rem;
        &--contact{
            background-color: $yellow;
            border-radius: 30px;
            font-weight: 500;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
    .header__hamburger{
        display: none;
    }
    &__desktopMenu{
        display: flex;
        list-style: none;
        align-items: center;
        li{
            padding: 0em 1.5em;
            color: white;
            font-size: 1.6rem;
        }
        .contact{
            color: black;
            background-color: $white;
            padding: 0.5em 2em;
            border-radius: 20px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title{
        margin: 1em 0em;
        font-size: 5rem;
        text-align: center;
        line-height: 5rem;
        text-transform: uppercase;
        color: white;
    }
}
.section{
    display: flex;
    flex-direction: column;
    &__backgroundImage{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        &--transformSection{
            background-image: url('../images/mobile/image-transform.jpg');
        }
        &--transformStandOut{
            background-image: url('../images/mobile/image-stand-out.jpg');
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        padding: 2em;
    }
    &__title{
        font-size: 4rem;
        text-align: center;
        color: $veryDarkDesaturatedBlue;
    }
    &__text{
        color: $veryDarkGrayishBlue;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
        font-weight: 400;
        margin: 2em 0;
    }
    &__learnMoreLink{
        color: $veryDarkDesaturatedBlue;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__linkText{
        z-index: 1;
    }
    &__linkUnderline{
        height: 5px;
        width: 110%;
        background-color: $yellow;
        transform: translateY(-160%);
        z-index: -1;
        border-radius: 5px;
        opacity: 0.3;
    }
}

.sectionOffert{
    display: flex;
    flex-direction: column;
    &__item{
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: end;
        &--graphicDesign{
            background-image: url('../images/mobile/image-graphic-design.jpg');
            color: $graphicDesignText;
        }
        &--photography{
            background-image: url('../images/mobile/image-photography.jpg');
            color: $photographyText;
        }
    }
    &__title{
        margin-bottom: 1em;
        font-size: 3rem;
        text-align: center;
    }
    &__text{
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        padding: 2em;
    }
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        margin: 3em 0;
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: $grayishBlue;
    }
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3em;
        margin-bottom: 5em;
    }
    &__image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    &__text{
        text-align: center;
        color: $veryDarkDesaturatedBlue;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1em 0;
    }
    &__fullName{
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 2em;
    }
    &__role{
        color: $grayishBlue;
    }
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    &__item{
        width: 50%;
        height: 50vw;
        background-position: center;
        background-size: cover;
        &:nth-child(1){
            background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
        }
        &:nth-child(2){
            background-image: url('../images/mobile/image-gallery-orange.jpg');
        }
        &:nth-child(3){
            background-image: url('../images/mobile/image-gallery-cone.jpg');
        }
        &:nth-child(4){
            background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    background-color: $footer;
    &__logo{
        font-size: 3rem;
    }
    &__menu{
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        margin-right: 4em;
        li{
            padding: 1em;
        }
    }
    &__socials{
        display: flex;
        a{
            padding: 1em;
        }
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 640px) {
    .section{
        &__backgroundImage{
            &--transformSection{
                background-image: url('../images/desktop/image-transform.jpg');
            }
            &--transformStandOut{
                background-image: url('../images/desktop/image-stand-out.jpg');
            }
        }
    }
    .sectionOffert{
        &__item{
            &--graphicDesign{
                background-image: url('../images/desktop/image-graphic-design.jpg');
            }
            &--photography{
                background-image: url('../images/desktop/image-photography.jpg');
            }
        }
    }
    .gallery{
        &__item{
            &:nth-child(1){
                background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
            }
            &:nth-child(2){
                background-image: url('../images/desktop/image-gallery-orange.jpg');
            }
            &:nth-child(3){
                background-image: url('../images/desktop/image-gallery-cone.jpg');
            }
            &:nth-child(4){
                background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
            }
        }
    }
}

@media screen and (min-width: 768px){
    .header{
        background-image: url('../images/desktop/image-header.jpg');
        
    }
    .header__hamburger{
        display: none;
    }

    .section{
        flex-direction: row;
        &__backgroundImage{
            width: 50%;
            height: 600px;
        }
        &__content{
            width: 50%;
            height: 600px;
            padding: 10em;
        }
        &__text,  &__linkText{
            font-size: 2rem;
        }
        &--second{
            flex-direction: row-reverse;
        }
    }
    .sectionOffert{
        flex-direction: row;
        &__item{
            width: 50%;
            height: 700px;
            padding: 5em;
        }
    }
    .testimonials{
        &__title{
            font-size: 2rem;
        }
        &__image{
            width: 90px;
            height: 90px;
        }
    }
    .gallery{
        flex-wrap: nowrap;
        &__item{
            height: 500px;
        }
    }
    .footer{
        &__menu{
            font-size: 1.5rem;
        }
        &__socials{
            a{
                padding: 3em;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}